.header {
    position: sticky;
    top: 0;
    left:0;
    z-index: 3;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    .container{
        display: flex;
        flex-flow: wrap;
        align-items: center;
        padding: 16px 0;
        justify-content: center;
        
        @include desktop {
            justify-content: space-between;
        }
    }
    &__buttons{
        display: none;
        flex-flow: wrap;
        width: max-content;
        @include desktop {
          display: flex;
        }
        ul{
            display: flex;
            flex-flow: wrap;
            width: max-content; 
            li{
                &:last-child{
                    margin-left: 12px;
                }
            }
        }
    }
}


