.hero{
    &__container{
        width: 100%;
        img{
            width: 100%;
            display: block;
            height: auto;
        }
    }

&__buttons{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    .button{
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        line-height: 100%;
        text-align: center;
        padding: 20px 0;
        color: $white;
        
        &.primary{
            background-color: $primary;
            &:hover{
                background-color: $primary-hover;
            }
        }

        &.secondary{
            background-color: $secondary;
            &:hover{
                background-color: $secondary-hover;
            }
        }

        @include desktop{
            width: 50%;
            font-size: 24px;
        }

    }
}
}