*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 84%;
    max-width: 1200px;
    margin: 0px 8%;
    @media only screen and (min-width: 1200px){
        width: 100%;
        
        margin: 0px auto;
    }
}