@import "./grid";
@import "./fonts";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Gilroy", sans-serif;
    text-rendering: geometricPrecision;
    scroll-behavior: smooth;
}

button,a{
    appearance: none;
    border: none;
    text-rendering: geometricPrecision;
}

.container {
    width: calc(100% - 32px);
    margin: 0px 16px;
 
    @media (min-width: 768px) {
     width: 100%;
     max-width: 700px;
     margin: 0px auto;
    }
    
    @media (min-width: 1200px) {
     width: 100%;
     max-width: 1184px;
     margin: 0px auto;
    }
 }
 