
$breakpoint-tablet: 744px;
$breakpoint-desktop: 1240px;

/// Show only on desktop screens
@mixin desktop {
  @media only screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}

/// Show on tablet screens
@mixin tablet {
  @media only screen and (min-width: ($breakpoint-tablet + 1)) {
    @content;
  }
}

/// Show only on mobile screens
@mixin mobile {
  @media only screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}