$red:#2628ab;
$redAlt:#4251d2;
$gray:#24262D;
$gray2:#2a2d39;
$gray3:#A6A9B5;
$gray4:#F4F3FA;
$white:#fff;
$black:#000;


$primary:$red;
$primary-hover:$redAlt;
$secondary:$gray;
$secondary-hover:$gray2;

$radius:12px;